@tailwind base;
@tailwind components;
@tailwind utilities;

.pipback {
    background: repeating-linear-gradient(
        to bottom,
        #041502 5px,
        #1b401d 5px,
        #041502 10px,
        #1b401d 10px,
        #041502 10px
    );
    animation: blink 0.00001s infinite;
}
.reddot {
    height: 25px;
    width: 25px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
}
.square {
    height: 25px;
    width: 25px;
    background-color: grey;
    display: inline-block;
}

@keyframes blink {
    to {
        opacity: 0.8;
    }
}
